@font-face {
    font-family: 'sonder_script_3regular';
    src: url('fenotype_-_sonderscript3.woff2') format('woff2'),
         url('fenotype_-_sonderscript3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronthin';
    src: url('Aileron-Thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 500px) {
  .leftSpacer {
    display: none;
  }
  .rightSpacer {
    display: none;
  }
  #plCont {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #contCont {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
}

.listWrapper {
  display: flex;
  flex-direction: row;
}
.leftSpacer {
  width: 20%;
}
.rightSpacer {
  width: 20%;
}

.listSpacer {
  margin-bottom: 7%;
}

.listCont {
  width: 60%;
  margin: 0 auto;
}

.cat {
  text-align: left;
}

.price {
  text-align: right;
  margin-top: 0;
}

.notes {
  font-family: 'aileronthin';
  text-align: center;
  font-size: 0.9em;
  margin-top: 2%;
}

.plHeader {
  border-bottom: solid pink;
}

h1 {
 font-family: 'sonder_script_3regular';
 font-size: 3em;
 letter-spacing: 2px;
 margin-bottom: 2%;
}

h2 {
  font-family: 'sonder_script_3regular';
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 5%;
  margin-bottom: 5%;
}

h4 {
  margin-bottom: 2.5%;
}

ul {
  list-style: none;
  padding-left: 0;
  font-family: 'aileronthin';
  font-size: 1.15em;
}
